In [3]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [7]:
# Read and shuffle data
housing_data = pd.read_csv("../Resources/housing_data.csv")

housing_data.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98,24.00
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

In [8]:
housing_data = housing_data.sample(frac=1).reset_index(drop=True)
housing_data.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98,24.00
0,2.73397,0.0,19.58,0,0.871,5.597,94.9,1.5257,5,403.0,14.7,351.85,21.45,15.4
1,18.08460,0.0,18.10,0,0.679,6.434,100.0,1.8347,24,666.0,20.2,27.25,29.05,7.2
2,8.05579,0.0,18.10,0,0.584,5.427,95.4,2.4298,24,666.0,20.2,352.58,18.14,13.8
3,12.80230,0.0,18.10,0,0.740,5.854,96.6,1.8956,24,666.0,20.2,240.52,23.79,10.8
4,0.04294,28.0,15.04,0,0.464,6.249,77.3,3.6150,4,270.0,18.2,396.90,10.59,20.6

In [ ]:

# Create a bunch of samples, each with div items
div = 20
lim = len(housing_data) // div
samples = [housing_data.iloc[(i * div):(i * div + div), 13]
           for i in range(0, lim)]